@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter+Tight:wght@600&family=Inter:wght@300;400;500;600;700;800&family=Lexend:wght@300;400;500;600;700;800;900&display=swap");
/*###########button################### */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Cardo", serif;
  font-family: "Inter", sans-serif;
  font-family: "Inter Tight", sans-serif;
  font-family: "Lexend", sans-serif;
  background-color: #f5f5f5;
}
ul,
ol {
  margin-left: 20px;
}
ol {
  list-style-type: 1;
}
ul {
  list-style-type: disc;
}
ul li::marker {
  color: #ffca42;
}
h1 {
  font-family: Cardo;
  font-weight: Bold;
  font-size: 65px;
  line-height: 130%;
  letter-spacing: -0.975px;
}
h2 {
  font-family: Cardo;
  font-weight: Bold;
  font-size: 55px;
  line-height: 130%;
  letter-spacing: -0.825px;
}
h3 {
  font-family: Cardo;
  font-weight: Bold;
  font-size: 45px;
  line-height: 130%;
  letter-spacing: -0.675px;
}
h4 {
  font-family: Cardo;
  font-weight: Bold;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.48px;
}
h5 {
  font-family: Cardo;
  font-weight: Bold;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.36px;
}
h6 {
  font-family: Cardo;
  font-weight: Bold;
  font-size: 22px;
  line-height: 130%;
  letter-spacing: -0.33px;
}
p {
  font-family: Inter;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  letter-spacing: -0.19px;
}
a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-family: Cardo;
  font-weight: bold;
  font-size: 19px;
  line-height: 125%;
  letter-spacing: 0.38px;
}
span {
  display: inline-block;
}
.container {
  width: 1300px;
  margin: 0px auto;
}
/* ##################header################# */
.header {
  color: #ffffff;
  background-color: #1b3764;
}
.header-section {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social {
  display: flex;
  align-items: center;
  gap: 33px;
}

.pages a {
  display: flex;
  align-items: center;
  gap: 8px;
}
.pages span {
  display: inline-flex;
  color: #ffffff;
  font-family: Inter;
  font-weight: Bold;
  font-size: 28px;
  line-height: 125%;
}

.media img,
.pages img {
  width: auto;
  height: auto;
  object-fit: cover;
}
.media {
  display: flex;
  align-items: center;
  gap: 10px;
}
.media a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: white;
}
.media a img {
  filter: invert(1);
}
.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navbar ul {
  margin: 0px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}
ul li a {
  color: #ffffff;
  font-family: Inter;
  font-weight: 500;
  font-size: 17px;
  line-height: 125%;
  letter-spacing: -0.17px;
}
.order-btn a {
  padding: 13px 33px;
  background-color: #ffca42;
  color: #1b3764;
  font-size: 19px;
  line-height: 125%;
  transition: all 0.5s ease-in-out;
}
.order-btn a:hover {
  color: #ffca42;
  background-color: #1b3764;
}
.header-content {
  width: 45%;
  margin: 0px auto;
  text-align: center;
  padding: 138px 0px 119px;
}
.header-content h2 {
  color: #f5f8fc;
  position: relative;
  padding-bottom: 34px;
  margin-bottom: 19px;
}
.header-content h2::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 55px;
  border-bottom: 3px solid #ffca42;
}
.header-content p {
  font-family: Inter;
  font-weight: normal;
  font-size: 19px;
  line-height: 170%;
  letter-spacing: -0.19px;
  color: #b4c7e7;
}
/* ##################footer################# */

.footer {
  background-color: #1b3764;
  color: #ffffff;
}
.footer-link {
  margin-bottom: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  padding: 84px 0px 77px;
  justify-content: space-between;
}
.link h5 {
  font-family: Cardo;
  font-weight: Bold;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.48px;
  padding-bottom: 23px;
}
.link li a {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 205%;
  letter-spacing: -0.18px;
  color: #b4c7e7;
}
.link p {
  width: 25%;
  font-family: Cardo;
  font-weight: Bold;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.36px;
  margin: 6px 0px 15px;
}
.link span {
  width: 71%;
  font-family: Inter;
  font-weight: normal;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.36px;
  margin: 6px 0px 15px;
  color: #b4c7e7;
}
.link {
  display: flex;
  justify-content: end;
  gap: 65px;
}
.link .keep-touch {
  width: 35%;
}
.footer-header .pages {
  padding-bottom: 27px;
}
.footer-header .media a {
  background-color: transparent;
  border: 1px solid #ffca42;
}
.footer-header .media a img {
  filter: invert(0);
}
.link ul {
  list-style-type: none;
  margin: 0px;
}
.link li {
  display: flex;
  align-items: center;
  gap: 20px;
}
.address,
.phone,
.mail {
  display: flex;
  gap: 14px;
}
.copy-right p {
  text-align: center;
  font-family: Cardo;
  font-weight: 500;
  font-size: 17px;
  line-height: 200%;
  letter-spacing: -0.17px;
  color: #b4c7e7;
}
.copy-right span {
  font-weight: 600;
  color: #ffffff;
}

@media screen and (max-width: 1320px) {
  .container {
    width: 1180px;
  }
  .header-content {
    margin: 0px auto;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .link {
    gap: 30px;
  }
  .link .keep-touch {
    width: 41%;
  }
  .header-content {
    width: 50%;
  }
  .navbar,
  .navbar ul {
    gap: 25px;
  }
  .order-btn a {
    padding: 13px 25px;
  }
}

@media (max-width: 991px) {
  .container {
    width: 747px;
  }
  .header-section {
    flex-direction: column;
    gap: 20px;
  }
  .navbar {
    width: 100%;
    justify-content: space-between;
  }
  .header-section .social {
    width: 100%;
    gap: 0px;
    justify-content: space-between;
  }
  .header-content {
    padding: 100px 0px;
    width: 65%;
  }
  .footer-link {
    flex-direction: column;
    gap: 20px;
  }
  .link {
    justify-content: space-between;
    row-gap: 30px;
    flex-wrap: wrap;
  }

  .footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-header .pages {
    padding-bottom: 0px;
  }
  .media {
    gap: 20px;
  }
  .link .keep-touch {
    width: 42%;
  }
}

@media (max-width: 767px) {
  .container {
    width: 555px;
  }

  .header-content {
    padding: 60px 0px;
    width: 90%;
  }
  .navbar {
    justify-content: space-between;
    gap: 0px;
    width: 100%;
  }
  .navbar ul {
    gap: 15px;
  }
  .order-btn a {
    padding: 13px 15px;
  }
  .link .keep-touch {
    width: 70%;
    margin: 0px auto;
  }
}

@media (max-width: 575px) {
  .container {
    width: 310px;
    margin: 0px auto;
  }
  .navbar {
    flex-direction: column;
    gap: 10px;
  }
  .navbar ul {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }
  .header-content {
    padding: 30px 0px;
    width: 100%;
  }
  .header-content h2 {
    font-size: 45px;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .header-content p {
    font-size: 15px;
  }
  .footer-header {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .link {
    justify-content: center;
  }
  .link .keep-touch {
    width: 100%;
  }
  .link p {
    width: 26%;
  }
  .link span {
    width: 68%;
  }
  .copy-right p {
    font-size: 14px;
  }
  .footer-link {
    padding: 20px 0px 0px;
    margin-bottom: 10px;
  }
}
